/* NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(231, 235, 10);
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-size: 18px;
}

.logout-button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.4s ease;
  box-shadow: 1px 1px 1px rgb(9, 205, 231);
}

.logout-button:hover {
  background-color: #1089ec;;
  color: rgb(2, 2, 2);
}

.nav-right {
  display: flex;
  align-items: center;
}
